.cart__dropdown__container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    top: 65px;
    right: 7px;
    z-index: 5;

    .empty__message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart__items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: auto;
        width: 100%;
        padding: 0;
    }

}