.category__container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 100px;
    // padding: 10px;
}
@media only screen and (max-width:900px) {
.category__container {
 grid-template-columns: repeat(3,1fr);
 row-gap: 20px;
}
}
@media only screen and (max-width:600px) {
.category__container {
 grid-template-columns: repeat(1,1fr);
 row-gap: 20px;
}
}

.title {
    text-align: center;
    margin-bottom: 20px;
}